.containerGrid {
  display: grid;
  grid-template-rows: 15% auto;
  width: 100%;
  height: 100%;
}
.containerSections {
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  gap: 20px;
}
.sectionDark,
.sectionLight,
.sectionDarkActive,
.sectionLightActive {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--black);
  border: 2px solid var(--gray);
  color: var(--white);
  font-size: 1.8rem;
  border-radius: 10px;

  min-width: 160px;
  width: 15%;
  height: 80px;

  cursor: pointer;
  user-select: none;
}
.sectionDarkActive {
  background-color: var(--white-light);
  border: 2px solid var(--gray);
  color: var(--light-letter);
  font-weight: 600;
}
.sectionLight {
  background-color: var(--light-back-one);
  border: 1px solid var(--gray);
  color: var(--light-letter);
}
.sectionLightActive {
  color: var(--white);
  background-color: var(--black-super-light);
  border: 1px solid var(--light-back-one);
}
.containerContent {
  display: flex;
  align-items: center;
  grid-row: 2;
}
.containerCharacter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 94%;
}
.character {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 50%;
  background-color: rgb(120, 20, 20);
  font-size: 1.8rem;
  color: white;

  width: 350px;
  height: 350px;
  padding: 10px;
}
.content {
  display: flex;
  align-items: center;

  width: 60%;
  height: 90%;
}
.contentInfoAboutDark,
.contentInfoAboutLight {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--gray);
  width: 85%;
  height: 100%;
  color: var(--white);
  padding: 30px 10px;
}
.contentInfoAboutLight {
  background-color: var(--light-back-one);
  color: var(--light-letter);
}
.infoTitle {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 30px;
}
.infoText {
  font-size: 1.3rem;
  color: var(--gray);
}
.infoTitleSecondary {
  position: absolute;
  bottom: 15%;

  font-size: 1.45rem;
}
.contentInfoGoalsDark,
.contentInfoGoalsLight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--gray);

  width: 85%;
  height: 100%;

  padding: 0 10px;
}
.contentInfoGoalsLight {
  background-color: var(--light-back-one);
}
.flag {
  color: rgb(180, 0, 0);
  font-size: 1.3rem;
}
.contentInfoLocationDark,
.contentInfoLocationLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--gray);

  width: 85%;
  height: 100%;

  gap: 25px;
}
.contentInfoLocationLight {
  background-color: var(--light-back-one);
}
.map {
  border: none;
  border-radius: 3px;
  width: 85%;
  height: 70%;
}
.infoTextMap {
  width: 83%;
  text-align: center;
  font-size: 1.3rem;
  color: var(--gray);
}
.contentInfoSkillDark,
.contentInfoSkillLight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--gray);

  width: 85%;
  height: 100%;

  padding: 30px 10px;
  gap: 10px;
}

.contentInfoSkillLight {
  background-color: var(--light-back-one);
}
.skillDark,
.skillLight {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black-light);
  border: 1px solid var(--black-super-light);
  border-radius: 3px;

  font-size: 1.5rem;
  color: var(--white-light);

  width: 30%;
  height: 20%;
}
.skillLight {
  background-color: var(--gray);
  color: var(--black);
}
.containerTechnologiesDark,
.containerTechnologiesLight {
  display: flex;
  justify-content: space-around;

  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--gray);

  width: 85%;
  height: 100%;
  padding: 10px 0;
}

.containerTechnologiesLight {
  background-color: var(--light-back-one);
}

.technologieColum {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 5px;

  font-size: 1.3rem;
  color: white;
}

@media (max-width: 1050px) {
  .containerContent {
    justify-content: center;
  }
  .containerCharacter {
    display: none;
  }
  .content {
    justify-content: center;

    width: 100%;
  }
  .contentInfoAboutDark,
  .contentInfoAboutLight,
  .contentInfoGoalsDark,
  .contentInfoGoalsLight,
  .containerTechnologiesDark,
  .containerTechnologiesLight,
  .contentInfoLocationDark,
  .contentInfoLocationLight,
  .contentInfoSkillDark,
  .contentInfoSkillLight {
    width: 95%;
  }
}

@media (max-width: 970px) {
  .sectionDark,
  .sectionLight,
  .sectionDarkActive,
  .sectionLightActive {
    font-size: 1.5rem;

    min-width: 140px;
    width: 15%;
    height: 80px;
  }
}
@media (max-width: 870px) {
  .containerSections {
    grid-row: 1;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  .sectionDark,
  .sectionLight,
  .sectionDarkActive,
  .sectionLightActive {
    font-size: 1.2rem;

    min-width: 100px;
    width: 18%;
    height: 80px;
  }
}

@media (max-width: 700px) {
  .containerSections {
    flex-wrap: wrap;
    /* gap: 20px; */
    margin-top: 10px;
  }
  .sectionDark,
  .sectionLight,
  .sectionDarkActive,
  .sectionLightActive {
    box-sizing: content-box;
    font-size: 1.2rem;

    min-width: 100px;
    width: 20%;
    height: 40px;
    padding: 5px;
  }
}
