.containerShadow {
  display: flex;
  align-items: center;

  min-height: 101vh;
  background-color: var(--background);
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-light);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100vh;
  padding: 10vh 20px 0;
}
.title {
  font-weight: 500;
  font-size: var(--large);
}
.content {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 74vh;
  margin-top: 20px;
}
.img {
  border-radius: 8px;
  width: 38%;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  margin: 0 6%;
}
.containerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: var(--small);

  width: 62%;
  height: 100%;
  padding: 5px 0;
  margin-right: 10%;
}
.btn {
  text-align: center;
  background-color: var(--blue);
  border: none;
  border-radius: 30px;
  font-size: var(--small);
  text-decoration: none;

  padding: 10px 21px;
  margin-right: 15px;
  transition: 0.35s;
}

.btn:hover {
  box-shadow: 0 0 10px var(--blue), inset 0 0 5px var(--blue);
}

@media (max-width: 1160px) {
  .containerText {
    margin-right: 0px;
  }
}
@media (max-width: 1040px) {
  .img {
    margin: 0 20px;
  }
}

@media (max-width: 950px) {
  .container {
    height: 180vh;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 90%;
    margin-top: 10px;
  }
  .img {
    height: 70vh;
    margin: 0;
  }
  .containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    font-size: var(--small);
  
    width: 90%;
    height: auto;
    padding: 10px 0;
    margin-right: 0%;
  }
}
@media (max-width: 700px) {
  .container {
    height: 250vh;
  }
  .img {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 540px) {
  .containerText {
    gap: 15px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}