.container {
  display: grid;
  grid-template-columns: 45% 55%;

  height: 100%;
  width: 100%;
}

.containerImg {
  grid-column: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImg img {
  height: 500px;
}

.containerDivs {
  grid-column: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dataDark,
.dataLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
  border-radius: 8px;
  box-shadow: 0 0 5px var(--gray);

  min-width: 300px;
  width: 60%;
  height: 20%;

  gap: 20px;
}

.dataLight {
  background-color: var(--light-back-one);
}

.letterDark,
.letterLight {
  color: var(--white);
  font-size: 1.8rem;
}

.letterLight {
  font-weight: 600;
  color: var(--light-letter);
}

.star {
  color: yellow;
  font-size: 1.8rem;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 60% auto;
    height: 100%;
    width: 100%;
  }
  .containerImg {
    grid-row: 1;
  }

  .containerImg img {
    height: 450px;
  }
  .containerDivs {
    grid-column: 1;
    grid-row: 2;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
  .dataDark,
  .dataLight {
    border-radius: 8px;

    min-width: 150px;
    width: 45%;
    height: 40%;

    gap: 10px;
  }
}
