.container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  width: 0vw;
  height: 100vh;
  animation: show 0.1s forwards;
  gap: 5px;
  z-index: 10;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 25px;
  top: 25px;

  border-radius: 50%;
  background-color: rgb(240, 35, 35);
  border: none;
  color: var(--light-back-one);
  font-weight: 600;

  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.1s;
}
.close:hover {
  background-color: rgb(226, 14, 14);
}
.formDark,
.formLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--black);
  box-shadow: 0 0 2px white;
  border-radius: 5px;

  width: 40%;
  height: 90%;
  gap: 5px;
  padding: 10px;
}
.formLight {
  background-color: var(--light-back-one);
  box-shadow: 0 0 2px var(--light-back-two);
}
.formDark h1 {
  color: var(--white);
}
.formLight h1 {
  color: var(--light-letter);
}
.containerInput,
.containerTextarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 15%;
}
.containerTextarea {
  height: 40%;
}
.labelDark,
.labelLight {
  position: absolute;
  top: 0;
  left: 17%;
  color: var(--white);
  background-color: var(--black);
  padding: 0 3px;
}
.labelLight {
  color: var(--light-letter);
  background-color: var(--light-back-one);
}
.inputDark,
.inputLight,
.textareaDark,
.textareaLight {
  width: 75%;
  height: 75%;
  border: 2px solid var(--gray);
  background-color: transparent;
  border-radius: 5px;
  padding: 1.2rem 8px;
  font-size: 1.1rem;
  color: var(--white);
}
.inputLight,
.textareaLight {
  color: var(--light-letter);
}
.textareaDark,
.textareaLight {
  height: 92%;
  resize: none;
}
.inputDark:focus,
.inputLight:focus,
.textareaDark:focus,
.textareaLight:focus {
  outline: none;
}
.submitDark,
.submitLight {
  font-size: 1.2rem;
  border-radius: 3px;
  border: none;
  min-width: 120px;
  width: 40%;
  height: 40px;
  color: var(--gray);
  background-color: var(--black2);
  transition: 0.2s;
  cursor: pointer;
}

.submitLight {
  color: var(--light-letter);
  background-color: var(--light-back-two);
}

.submitLight:hover {
  color: var(--white);
  background-color: var(--gray);
}

.submitDark:hover {
  color: var(--white);
  background-color: var(--black-super-light);
}

.contacts {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 50%;
}

.btnContacDark,
.btnContacLight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.btnContacDark:hover:nth-child(1) {
  color: #8a2be2;
}

.btnContacDark:hover:nth-child(2) {
  color: #008000;
}

.btnContacDark:hover:nth-child(3) {
  color: rgb(40, 103, 178);
}
.btnContacLight:hover:nth-child(1) {
  color: rgb(156, 74, 255);
}

.btnContacLight:hover:nth-child(2) {
  color: rgb(0, 200, 0);
}

.btnContacLight:hover:nth-child(3) {
  color: rgb(74, 156, 255);
}

@keyframes show {
  100% {
    width: 100vw;
  }
}
