.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 20px;
}

.logoDark,
.logoLight {
  font-size: var(--h1);
  color: var(--white);
}

.logoLight {
  color: var(--light-letter);
  font-weight: 600;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
}

.selectDark,
.selectLight {
  border-radius: 3px;
  background-color: var(--black);
  color: var(--white);
  width: 70%;
  height: 35px;
  padding-left: 8px;
}

.selectLight {
  background-color: var(--light-back-one);
  color: var(--light-letter);
}

.selectDark:focus,
.selectLight:focus {
  outline: none;
}

.moodDark,
.moodLight {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--black);
  border: 1px solid var(--white-light);

  font-size: 1.5rem;
  color: #bfa939;

  width: 40px;
  height: 40px;

  cursor: pointer;
}

.moodLight {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--white-light);
  color: #f1cc10;
}
