.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(100px);

  width: 100%;
  height: 10vh;
  padding: 0 30px;

  z-index: 20;
}

.container img {
  height: 80%;
}

.container ul {
  display: flex;

  gap: 20px;
}

.link,
.linkActive {
  position: relative;
  font-weight: 500;
  text-decoration: none;
}

.linkActive {
  color: var(--blue);
}

.link::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--blue);
  transition: all 0.45s;

  box-shadow: 0 2px 5px var(--blue);
}
.link:hover::before {
  width: 100%;
}