.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;

  gap: 2%;
}

.seccionDark,
.seccionLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  font-size: 30px;
  color: var(--gray);

  width: 100%;
  height: 80px;
  gap: 5px;
  transition: 0.1s;
  cursor: pointer;
}

.seccionDark:hover {
  background-color: var(--black-super-light);
  color: var(--white-light);
}
.seccionLight:hover {
  background-color: var(--gray);
  color: var(--light-back-one);
}

.seccionNameDark,
.seccionNameLight {
  font-size: var(--h3);
  color: var(--gray);
}

.seccionDark:hover .seccionNameDark {
  color: var(--white-light);
}
.seccionLight:hover .seccionNameLight {
  color: var(--light-back-one);
}
