.app {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;

  width: 100vw;
  height: 100vh;
}

.navbarDark,
.navbarLight {
  grid-column: 1;
  grid-row: 1/3;
  background-color: var(--black);
}
.navbarLight {
  background-color: var(--light-back-one);
}

.headerDark,
.headerLight {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--black-light);
  border-bottom: 2px solid var(--black-super-light);
}

.headerLight {
  background-color: var(--light-back-two);
  border-bottom: 2px solid var(--light-back-one);
}

.contentDark,
.contentLight {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--black-light);
}

.contentLight {
  background-color: var(--light-back-two);
}
